/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
:root {
  /* Colors */
  --dark-color: rgb(7, 6, 18);
  --light-color: rgb(250, 248, 224);
}

/* -------------------------------------------------------------------------- */
/*                               GENERAL STYLING                              */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Recursive", monospace;
  color: var(--light-color);
}

body {
  padding: 30px;
  background-color: var(--dark-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 200;
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
footer {
  height: 60px;
}

a:visited {
  color: var(--light-color);
}
